<div class="container" id="home-flats">
  <h2 class="text-center">Recent flats</h2>
    <div class="row">
      <% data.flats.each do |owner, flat| %>
        <div class="col-xs-12 col-sm-6 col-md-4 card-padding">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/<%=flat.city_name.downcase%>');">
            <div class="card-category"><%= flat.city_name %>, <%= flat.country %></div>
            <div class="card-description">
              <h3><%= flat.name %>'s home</h3>
              <p><%= flat.description %></p>

              <p class="rating">
                <% flat.rating.times do %>
                  <i class="fa fa-star" style="color: #ffb400"></i>
                <% end %>
                <% gs = 5 - flat.rating %>
                  <% gs.times do %>
                    <i class="fa fa-star" style="color: grey"></i>
                  <% end %>
              </p>
            </div>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{owner}", class:"card-user avatar" %>
          <%= link_to "", "flats/#{owner}.html", class: "card-link" %>
          </div>
        </div>
      <% end %>
    </div>
</div>
