<!-- source/flats/show.html.erb -->

<!-- Access data.flats with owner's name as key -->
<% flat = data.flats[owner] %>

<!-- Inject flat data in template -->
<div class="header-flat">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-1 card-padding">
        <div class="header-flat-details">
          <div class="header-flat-owner text-center">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{owner}", class: "img-circle avatar-small" %>
            <p><%= flat.name %></p>
          </div>
          <div class="header-flat-name">
            <h1><%= flat.description %></h1>
            <p><%= flat.city_name %> <%=  %></p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <form action="#">
            <h4>Book this flat</h4>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-6">
                  <input type="text" class="form-control" placeholder="checkin" id="checkin">
                </div>
                <div class="col-xs-6">
                  <input type="text" class="form-control" placeholder="checkout">
                </div>
              </div>
            </div>
            <div class="form-group">
              <select name="" id="guests" class="form-control">
                <option value="1">1 guest</option>
                <option value="2">2 guests</option>
                <option value="3">3 guests</option>
              </select>
            </div>
            <input type="submit" class="btn btn-danger" value="Book it" style="width: 100%">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
